/* You can add global styles to this file, and also import other style files */
* {
    margin: 0; 
    padding: 0;
  }

  div#banner { 
    position: absolute; 
    top: 0; 
    left: 0; 
    background-color: #976213; 
    width: 100%; 
  }
  div#banner-content { 
    width: 800px; 
    margin: 0 auto; 
    padding: 10px; 
    border: 1px solid rgb(207, 193, 193);
  }
  div#main-content { 
    padding-top: 70px;
 }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
